.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ====================== real css ====================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 0em;
}

button {
  margin: 0 1em !important;
  border: 1px solid black !important;
  border-radius: 0.5em !important;
  padding: 0.3em 1em !important;
  background: white;
  font-family: "Montserrat", sans-serif !important;
}

.buttons {
  display: flex;
}

.select-checkbox {
  float: right;
}

.mass-buttons {
  display: flex;
  padding: 2em 0em;
}

.mass-buttons button {
  padding: 0.7em 2em !important;
  margin: 0 3em !important;
  background: rgba(101, 215, 230, 0.8) !important;
}
